# Polyglot Build Artifacts
/target/
/build/
/_build/
/deps/
/cover/
/doc/
/.fetch/
erl_crash.dump
*.ez
*.beam
/node_modules/
*.o
*.a
*.so
/bin/

# Toolchain Clones
/lurk-rs/

# Research Artifacts
_paper
_bmad

# IDE & AI Metadata
.agent
.claude
.codex
.cursor
.vscode
.gemini
.elixir_ls/
/config/*.secret.exs